@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;

  margin: 0;
  padding: 0;
}
body {
  background: rgba(255, 209, 193, 1);
  background: linear-gradient(
    120deg,
    rgb(166, 227, 255) 0%,
    rgba(255, 209, 193, 1) 100%
  );
}
.gotoback {
  display: inline-block;
  margin: 30px;
  padding: 10px;
  font-weight: 700;
  position: fixed;
  left: 30px;
  top: 50px;
  cursor: pointer;
  color: rgb(5, 1, 17);
}
.gotoback::after {
  content: '';
  position: absolute;
  left: 15px;
  width: 80px;
  height: 20px;
  background-color: rgba(255, 166, 217, 0.767);

  z-index: -1;
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
.container .clock__analog__background {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.container .clock__analog__container {
  background-image: url(./img/clock2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(4px -2px 3px gray);
  /* box-shadow: 4px 4px 7px 4px rgba(255, 255, 255, 0.1),
    -4px -4px 7px 4px rgba(0, 0, 0, 0.1),
    inset 2px 2px 7px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 7px 4px rgba(0, 0, 0, 0.1); */
}
.container .clock__analog__container::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: rgb(24, 24, 24);
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  box-shadow: inset 2px 1px 4px 1px rgba(255, 255, 255, 0.185),
    inset -2px -1px 3px 1px rgba(0, 0, 0, 0.185);
}
.hour,
.minute,
.second {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hour {
  width: 150px;
  height: 150px;

  z-index: 5;
}
.hour::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 50%;
  background-color: rgb(211, 211, 211);
  filter: drop-shadow(2px -1px 1px rgb(228, 227, 221));
  border-radius: 50% 50% 0 0;
}
.minute {
  width: 220px;
  height: 220px;
  z-index: 4;
}
.minute::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 50%;
  border-radius: 50% 50% 0 0;
  background-color: rgb(211, 211, 211);
  filter: drop-shadow(2px -1px 1px rgb(228, 227, 221));
}
.second {
  width: 260px;
  height: 260px;
}
.second::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  border-radius: 2px;
  background-color: rgb(211, 211, 211);
  filter: drop-shadow(2px -1px 1px rgb(228, 227, 221));
}
.clock__digital__container {
  min-width: 320px;
  max-width: 500px;
  box-sizing: border-box;
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(17, 17, 17);
  display: none;
  border-radius: 10px;
  box-shadow: inset 4px 2px 5px 3px rgba(255, 255, 255, 0.1);
}
.clock__digital__container .digital {
  font-family: 'LAB디지털', cursive;
  width: 65px;
  height: 60px;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 40px;
  line-height: 60px;
  padding-left: 5px;
  letter-spacing: 5px;
  color: rgb(225, 225, 225);
  background-color: rgb(41, 41, 41);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1),
    -2px -2px 4px rgba(255, 255, 255, 0.1);
  box-shadow: 3px 3px 3px 1px rgba(255, 255, 255, 0.247),
    -2px -2px 3px 0px black;
}

.btns {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.custom-shape-divider-top-1654431782 {
  fill: rgba(94, 190, 197, 0.664);
}
