* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(166, 227, 255);
  background: linear-gradient(
    120deg,
    rgb(166, 227, 255) 0%,
    rgba(255, 209, 193, 1) 100%
  );
}
.gotoback {
  display: inline-block;
  margin: 30px;
  padding: 10px;
  font-weight: 700;
  position: fixed;
  left: 30px;
  top: 50px;
  cursor: pointer;
  color: rgb(5, 1, 17);
}
.gotoback::after {
  content: '';
  position: absolute;
  left: 15px;
  width: 80px;
  height: 20px;
  background-color: rgba(255, 166, 217, 0.767);

  z-index: -1;
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  text-align: center;
  font-size: 16px;
}
.container .clock__analog__background {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.container .clock__analog__container {
  background-image: url(./img/clock.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px -4px 3px gray);
  /* box-shadow: 4px 4px 7px 4px rgba(255, 255, 255, 0.1),
    -4px -4px 7px 4px rgba(0, 0, 0, 0.1),
    inset 2px 2px 7px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 7px 4px rgba(0, 0, 0, 0.1); */
}
.container .clock__analog__container::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
}
.hour,
.minute,
.second {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hour {
  width: 150px;
  height: 150px;

  z-index: 5;
}
.hour::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 50%;
  background-color: rgb(211, 211, 211);
  filter: drop-shadow(2px 5px 0px rgba(228, 227, 221, 0.76));
  border-radius: 50% 50% 0 0;
}
.minute {
  width: 220px;
  height: 220px;
  z-index: 4;
}
.minute::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 50%;
  border-radius: 50% 50% 0 0;
  background-color: rgb(211, 211, 211);
  filter: drop-shadow(2px 3px 0px rgba(155, 153, 122, 0.76));
}
.second {
  width: 260px;
  height: 260px;
}
.second::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  border-radius: 2px;
  background-color: lightgray;
  filter: drop-shadow(1px 2px 0px rgba(155, 153, 122, 0.76));
}
.clock__digital__container {
  width: 700px;
  height: 400px;
  /* display: flex; */
  border: 3px solid black;
  display: none;
}
.clock__digital__container .digital {
  width: 150px;
  height: 100px;
  background-color: aqua;
  margin: 10px;
}
.btns {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.custom-shape-divider-top-1654431782 {
  fill: rgba(94, 190, 197, 0.664);
}
