.container {
  width: 800px;
  height: 400px;
  background-color: aqua;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.container h2 {
  text-align: center;
  padding: 10px;
}
.container .img__wrapper {
  width: 800px;
  height: 250px;
  background-color: bisque;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .img__wrapper img {
  width: 400px;
  height: 200px;
  display: none;
  transition: all ease-out 0.7s;
}
.container .img__wrapper::after {
  content: '사진출처: 메롱해치';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}
.container .img__wrapper img.img1 {
  background-color: aqua;
}
.container .img__wrapper img.img2 {
  background-color: black;
}
.container .img__wrapper img.img3 {
  background-color: blueviolet;
}
.container .img__wrapper img.img4 {
  background-color: brown;
}

.container .img__wrapper .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;

  z-index: 3;
}
.container .img__wrapper .active {
  width: 500px;
  height: 250px;
  background-color: blue;
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: block;
}
.container .img__wrapper .next {
  display: block;
  position: absolute;
  left: 400px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.container .sliderCircle {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .sliderCircle > .circle {
  width: 10px;
  height: 10px;
  background-color: rgba(240, 255, 255, 0.6);
  border-radius: 50%;
  margin: 5px;
}
.container .sliderCircle > .circle.colored {
  background-color: rgb(240, 255, 255);
}

#prevBtn {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 10px;
  border: none;
  left: calc(50% - 250px);
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
}
#nextBtn {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 10px;
  border: none;
  right: calc(50% - 250px);
  font-size: 32px;
  z-index: 10;
  transform: translate(50%, -50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
}
