.container {
  width: 600px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container h2 {
  text-align: center;
  padding: 10px;
}
.container .img__visible {
  width: 420px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border-width: 2px 3px 1px 0px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  cursor: grab;
}
.container .img__wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  /* width: 400px;
  height: 220px; */
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  transition: transform 0.5s;
  touch-action: none;
}
.container .img__wrapper .card {
  width: 400px;
  height: 200px;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  user-select: none;
  /* display: none; */
  /* transition: all ease-out 0.7s; */
}
.container .img__wrapper .card .title {
  font-size: 25px;
  color: white;
}
.container .img__wrapper .card .content {
  font-size: 16px;
  color: white;
}

#nextBtn {
  position: absolute;
  top: 50%;
  padding: 10px;
  border: none;
  right: 30px;
  font-size: 50px;
  z-index: 10;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 0px 10px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  user-select: none;
}
#prevBtn {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 10px;
  border: none;
  left: 30px;
  transform: translateY(-50%);
  font-size: 50px;
  z-index: 10;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: -1px 0px 10px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  user-select: none;
}
