@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
  text-align: center;
}
span,
li {
  letter-spacing: 8px;
}
body {
  background: rgb(255, 166, 217);
  background: linear-gradient(
    120deg,
    rgb(166, 227, 255) 0%,
    rgba(255, 209, 193, 1) 100%
  );
}
section {
  min-width: 300px;
  max-width: 1280px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li {
  list-style: none;
}
.practice__wrapper h2 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  /* -webkit-text-stroke: 1px #0091ca; */

  /* background-image: radial-gradient(
    #8bdeff,
    #8bdeff 10px,
    #0091ca 10px #0091ca
  ); */
  -webkit-background-clip: text;
  background-position: 50% 50%;

  color: transparent;
  background-repeat: no-repeat;
  margin: 10px;
  /* transition: all 0.7s ease-in; */
  animation: title 0.7s 1 ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.practice__wrapper .prac {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin: 30px;
}
.practice__wrapper .prac .dropdown__list .preview__ul {
  border-bottom: 2px solid black;
  margin: 5px;
  padding: 5px;
  position: relative;
  width: 250px;
  cursor: pointer;
}
.practice__wrapper .prac .dropdown__list .preview__ul .toggle {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 8px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform 0.5s;
}
.practice__wrapper .prac .dropdown__list .prac__list {
  display: none;
  position: absolute;
  top: 180px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(189, 187, 187, 0.2);
  border-radius: 5px;
  transition: display 0.8s;
}
.practice__wrapper .prac .dropdown__list .prac__list li {
  width: 250px;
  height: 0;
  opacity: 0;
  transition: all ease-out 0.3s;
  cursor: pointer;
  position: relative;
  color: black;
  font-size: 20px;
  line-height: 25px;
}
.practice__wrapper .prac .dropdown__list .prac__list li::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 15px;
  width: 0px;
  height: 20px;
  border-color: transparent rgba(135, 135, 135, 0.2);
  border-style: solid dotted;
  background-color: rgba(98, 197, 244, 0.8);
  transform: skew(2deg, 2deg);
  transition: width ease-out 0.5s;
  opacity: 0;
  z-index: -1;
}
.practice__wrapper .prac .dropdown__list .prac__list li:hover {
  color: white;
}
.practice__wrapper .prac .dropdown__list .prac__list li:hover::after {
  width: 85%;
  opacity: 1;
  font-weight: 700;
}
.circle {
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  background-color: var(--color1);
  border: 2px solid var(--color2);
  position: absolute;
  /* top: var(--y);
  left: var(--x); */
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(var(--x), var(--y));
  filter: drop-shadow(0px 2px 4px var(--color1));

  animation: pointer var(--duration) 1 ease-out;
  animation-fill-mode: forwards;
}
/* .circle::after {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color2);
  filter: drop-shadow(0px 2px 2px var(--color2));

  opacity: 0.5;
  position: absolute;
  bottom: 0;
  z-index: -1;
  animation: pointer2 1s 1 ease-in;
  animation-fill-mode: forwards;
  animation-delay: 50ms;
} */
@keyframes title {
  0% {
    background-image: linear-gradient(
      90deg,
      rgb(139, 222, 255) 0%,
      rgb(20, 156, 210) 15%,
      rgb(59, 178, 225) 25%,
      rgb(95, 198, 238) 45%,
      rgb(95, 198, 238) 55%,
      rgb(0, 145, 202) 75%,
      rgb(18, 155, 209) 85%,
      rgb(139, 222, 255, 1) 100%
    );

    background-size: 0% 100%;
  }
  /* 50% {
    background-image: linear-gradient(
      90deg,
      #62d3ff 0%,
      #0091ca 50%,
      #62d3ff 100%
    );
  } */

  60% {
    background-image: linear-gradient(
      90deg,
      #62d3ff 0%,
      #0091ca 50%,
      #62d3ff 100%
    );
  }
  100% {
    background-image: linear-gradient(0deg, #0091ca, #0091ca);
    background-size: 100% 100%;
  }
}

@keyframes pointer {
  0% {
    transform: translate(var(--x), var(--y)) scale(0.5);
    /* transform: scale(0.5); */
  }
  50% {
    transform: translate(var(--x), var(--y)) scale(1);
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0);
  }
}
