@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  letter-spacing: 2px;
}
body {
  background: rgb(255, 166, 217);
  background: linear-gradient(
    120deg,
    rgb(166, 227, 255) 0%,
    rgba(255, 209, 193, 1) 100%
  );
}
section {
  min-width: 300px;
  max-width: 1280px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;
}
li {
  list-style: none;
}
.practice__wrapper .prac {
  display: flex;
  font-size: 30px;
  align-items: center;
  letter-spacing: 10px;
}
.practice__wrapper .prac .dropdown__list .visible:focus + .prac__list,
.practice__wrapper .prac .dropdown__list .visible:active + .prac__list {
  display: block;
}
.practice__wrapper .prac .dropdown__list .prac__list {
  display: none;
  position: absolute;
  text-align: center;
}
.custom-shape-divider-top-1654431782 {
  fill: rgba(94, 190, 197, 0.664);
}
