.game__display {
  background-color: aqua;
}
.game__name {
  text-align: center;
}
.result__message {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}
.game__display {
  display: flex;
}
.game__display .side {
  margin: 10px;
  background-color: bisque;
}
.game__display .side .score {
  text-align: center;
  background-color: blueviolet;
}
.game__display .side .result {
  width: 200px;
  height: 200px;
}
.game__display .side #realResult {
  display: none;
}
.game__display .side .result > i {
  font-size: 50px;
}
